input[type="range"].custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 3px solid #005ac1;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -8px;
  }
  
  input[type="range"].custom-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 3px solid #005ac1;
    border-radius: 50%;
    cursor: pointer;
  }

  input[type="range"].custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 3px solid #2563eb;
    border-radius: 9999px;
    cursor: pointer;
    margin-top: -1px;
  }
  
  input[type="range"].custom-slider::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background-color: white;
    border: 3px solid #2563eb;
    border-radius: 9999px;
    cursor: pointer;
  }
  
  